<div class="whole">
<div class="container">

  <div class="jumbotron">
      <h1>GitHub Search App/..</h1>
      
  </div>
 

 
 <form class="form-inline my-2 my-lg-0 ml-auto">
    <!-- <div class="md-form my-0"> -->
      <input [(ngModel)]="inputsearch" name="inputsearch" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <!-- </div> -->
    <button (click)=search(inputsearch) class="btn btn-outline-warning btn-md my-2 my-sm-0 ml-3" type="submit" >Search User</button>

  </form>

<br>
    <div class="txt">
   <div class="card" style="width:50%"> 
    <img src="{{users.avatar_url}}" alt="">
</div>
<div class="card" style="width:50%">
<h1><i>Name:{{users.name}}</i></h1>
<h4>Username:{{users.login}}</h4>

<h4>followers:{{users.followers}}</h4>
<h4>following:{{users.following}}</h4>

<ul>
  <button class="btn btn-outline-success btn-md my-2 my-sm-0 ml-3"><a href="{{users.html_url}}">View Repos</a></button>
</ul>
</div>
</div>
</div>
</div>>

