.jumbotron{
background-color:bisque;
}
.whole{
  background-image: url('https://i.pinimg.com/564x/1e/a8/20/1ea82056680f76ade19de892755f0bc7.jpg')
}
.card{
  background-color:bisque;
}
.txt{
  color:black;
}